@import '../../styles/statics';

.rating {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 15px;
    
    /* Responsive for mobiles */
    @media (max-width: $breakpoint-mobile) {
        column-gap: 6px;
    }

    &__star {
        &--full {
            font-size: 24px;
            color: $star-color-full;

            /* Responsive for mobiles */
            @media (max-width: $breakpoint-mobile) {
                font-size: 13px;
            }
        }

        &--empty {
            font-size: 24px;
            color: $star-color-empty;

            /* Responsive for mobiles */
            @media (max-width: $breakpoint-mobile) {
                font-size: 13px;
            }
        }
    }
}