.collapse {
    width: 100%;
    height: 52px;

    border-radius: 5px;
    background-color: #FF6060;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px 0px 20px;

    &__title {
        color: white;
        font-size: 24px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
    }

    &__arrow {
        
    }
}