main {
    margin: auto;
    max-width: 1240px; 
    padding: 0px 100px 0px 100px;
}

.collapse-container {
    padding: 0px 108px 0px 108px;
    margin-top: 38px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}