@import '../../styles/statics';

.property-tag {
    height: 25px;
    min-width: 115px;
    padding : 0px 10px 0px 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: $bkg-color-third;

    /* Responsive for mobiles */
    @media (max-width: $breakpoint-mobile) {
        height: 18px;
        min-width: 84px;
        border-radius: 5px;
    }

    &__text {
        color: $text-color-second;
        font-size: 14px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;

        /* Responsive for mobiles */
        @media (max-width: $breakpoint-mobile) {
            font-size: 10px;
        }
    }
}