.error-404 {
    color: #FF6060;
    text-align: center;

    font-family: "Montserrat", sans-serif;

    &__title {
        margin-top: 170px;

        font-size: 288px;
        font-weight: 700;
    }

    &__text {
        margin-top: 170px;

        font-size: 36px;
        font-weight: 500;
    }

    &__link {
        display: block;
        margin-top: 170px;
        margin-bottom: 140px;

        font-size: 18px;
        font-weight: 500;

        &:visited {
            color: #FF6060;
        }
    }
}