@import '../styles/statics';

.gallery {
    margin-top: 44px;
    padding: 50px;
    border-radius: 25px;
    background-color: $bkg-color-second;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    row-gap: 35px;

    /* Responsive for mobiles */
    @media (max-width: $breakpoint-mobile) {
        margin-top: 22px;
        padding: 0px;
        border-radius: 0px;
        background-color: $bkg-color-main;
    }
}