@import '../styles/statics';

.header {
    margin: auto;
    max-width: 1240px;
    margin-top: 45px;
    padding: 0px 100px 0px 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {
        width: 210px;
        height: 68px;

        /* Responsive for mobiles */
        @media (max-width: $breakpoint-mobile) {
            width: 145px;
            height: 47px;
        }
    }

    &__nav-bar {

        &__list {
            display: flex;
            flex-direction: row;
            column-gap: 63px;
        
            list-style-type: none;

            /* Responsive for mobiles */
            @media (max-width: $breakpoint-mobile) {
                column-gap: 25px;
            }
        }

        &__element {
            font-size: 24px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        
            color: $text-color-main;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;

                /* Responsive for mobiles */
                @media (max-width: $breakpoint-mobile) {
                    text-decoration-thickness: 1px;
                }
            }

            /* Responsive for mobiles */
            @media (max-width: $breakpoint-mobile) {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

    /* Responsive for mobiles */
    @media (max-width: $breakpoint-mobile) {
        margin-top: 20px;
        padding: 0px 20px 0px 20px;
    }
}